In [105]:
import pandas as pd
import numpy as np
from sklearn import linear_model, tree, metrics, ensemble

# Load training set
training_set = pd.read_csv("https://raw.githubusercontent.com/eliiza/ml-training-data/master/housing_price_data/training_data.csv")

test_data = pd.read_csv("https://raw.githubusercontent.com/eliiza/ml-training-data/master/housing_price_data/test_data.csv")

In [239]:
features = training_set.copy()
cond_map = {'Ex':5,'Gd':4,'TA':3,'Fa':2,'Po':1}
features['KitchenQual'] = features['KitchenQual'].map(cond_map).fillna(0)
features['CentralAir'] = features['CentralAir'] == 'Y'
features['QualAreaInteract'] = features['OverallQual'] * features['GrLivArea']
test_features = test_data.copy()
test_features['KitchenQual'] = test_features['KitchenQual'].map(cond_map).fillna(0)
test_features['CentralAir'] = test_features['CentralAir'] == 'Y'
test_features['QualAreaInteract'] = test_features['OverallQual'] * test_features['GrLivArea']

fs = num_columns[0:39]
predictor = ensemble.RandomForestRegressor(n_estimators = 100, random_state=2019)
predictor.fit(features[fs], features['SalePrice'])
train_predictions = predictor.predict(features[fs])
train_error = metrics.mean_absolute_error(features['SalePrice'], train_predictions)
test_predictions = predictor.predict(test_features[fs])
test_error = metrics.mean_absolute_error(test_features['SalePrice'], test_predictions)

In [240]:
test_error

16907.58191780822

In [158]:
num_columns = list(training_set.corr()['SalePrice'].sort_values(ascending=False)[1:].index)

# remove any with NaN values
num_na_columns = list(training_set.columns[training_set.isna().any()])

num_columns = [x for x in num_columns if x not in num_na_columns]

In [159]:
results = pd.DataFrame({'n':range(1, 40), 'test_error':np.repeat(0, 39), 'train_error':np.repeat(0, 39)})

In [233]:
training_set_sub = training_set

In [234]:
for i in range(1, 40):
    # Create features data frame and train model    
    training_columns = list(num_columns[0:i])
    predictor = linear_model.LinearRegression()
    predictor.fit(training_set_sub[training_columns], training_set_sub['SalePrice'])
    train_predictions = predictor.predict(training_set_sub[training_columns])
    train_error = metrics.mean_absolute_error(training_set_sub['SalePrice'], train_predictions)
    test_predictions = predictor.predict(test_data[training_columns])
    test_error = metrics.mean_absolute_error(test_data['SalePrice'], test_predictions)
    
    # Evaluate model
    results['test_error'][i - 1] = test_error
    results['train_error'][i - 1] = train_error

In [235]:
results

     n  test_error  train_error
0    1       31414        34403
1    2       26853        29290
2    3       26410        27862
3    4       26009        27361
4    5       23676        25612
5    6       23701        25602
6    7       23682        25605
7    8       23841        25555
8    9       22850        24878
9   10       22484        24473
10  11       22498        24313
11  12       21821        23367
12  13       21487        23135
13  14       21417        23123
14  15       21415        23115
15  16       21384        23082
16  17       20992        22812
17  18       21557        22817
18  19       21561        22816
19  20       21481        22748
20  21       21436        22700
21  22       21420        22692
22  23       21413        22672
23  24       21475        22672
24  25       21475        22672
25  26       21475        22672
26  27       21475        22672
27  28       21507        22681
28  29       21534        22682
29  30       21544        22706
30  31       20991        22397
31  32       20762        21960
32  33       20770        21963
33  34       20717        21876
34  35       20717        21876
35  36       20717        21876
36  37       20717        21876
37  38       20717        21876
38  39       20717        21876

In [131]:
training_set.shape

(1168, 81)

In [132]:
test_data.shape

(292, 81)

In [134]:
# Decision tree

In [236]:
results = pd.DataFrame({'max_depth':range(1, 40), 'test_error':np.repeat(0, 39), 'train_error':np.repeat(0, 39)})

In [237]:
for i in range(1, 40):
    # Create features data frame and train model    
    training_columns = list(num_columns[0:39])
    predictor = tree.DecisionTreeRegressor(max_depth = i)
    predictor.fit(training_set[training_columns], training_set['SalePrice'])
    train_predictions = predictor.predict(training_set[training_columns])
    train_error = metrics.mean_absolute_error(training_set['SalePrice'], train_predictions)
    test_predictions = predictor.predict(test_data[training_columns])
    test_error = metrics.mean_absolute_error(test_data['SalePrice'], test_predictions)
    
    # Evaluate model
    results['test_error'][i - 1] = test_error
    results['train_error'][i - 1] = train_error

In [238]:
results

    max_depth  test_error  train_error
0           1       41737        43740
1           2       33650        35874
2           3       28172        30624
3           4       26951        25929
4           5       25596        22279
5           6       24120        18690
6           7       24872        15020
7           8       24474        11396
8           9       23956         8079
9          10       23888         5511
10         11       25604         3811
11         12       26232         2452
12         13       24836         1553
13         14       24578         1050
14         15       25543          664
15         16       24203          437
16         17       26645          275
17         18       23756          206
18         19       24511          167
19         20       25538          144
20         21       24278          114
21         22       24696           75
22         23       24402           44
23         24       24791           29
24         25       24850           18
25         26       24761           12
26         27       25318            6
27         28       24913            3
28         29       25603            0
29         30       24661            0
30         31       24382            0
31         32       23956            0
32         33       24432            0
33         34       24832            0
34         35       24301            0
35         36       25609            0
36         37       24612            0
37         38       24300            0
38         39       25981            0